****************************************************
*                                                  *
* DRILL TAPE SUMMARY REPORT                        *
*                                                  *
* C:\TRAVAIL\CARTE IO-I2C\LAYOUT\CARTEIOI2C-1.MAX  *
* Fri Nov 21 08:29:05 2014                         *
*                                                  *
****************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       280      66       200      100                                                                                 
T2       320      154      200      100                                                                                 
T3       380      18       200      100                                                                                 
T4       420      34       200      100                                                                                 
T5       1100     4        200      100                                                                                 
